@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body
{
    background-image: url(../images/wallpaperflare.com_wallpaper.jpg);
}
.hallpage
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.header
{
    font-family: 'Lobster', cursive;
}